---
title: Blog
layout: default
---

<!-- CORE : begin -->
<div id="core" class="m-has-sidebar">

  <!-- PAGE HEADER : begin -->
  <div id="page-header">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li>{{ page.categories }}</li>
      </ul>
    </div>
  </div>
  <!-- PAGE HEADER : end -->

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <!-- PAGE CONTENT : begin -->
        <div id="page-content">

          <!-- BLOG LIST : begin -->
          <div class="blog-list">

            {% for post in site.posts %}
            <!-- LINK ARTICLE : begin -->
            <article class="image">
              <div class="article-inner">

                <!-- ARTICLE HEADER : begin -->
                <header class="article-header">
                  <span class="article-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                <!-- ARTICLE HEADER : end -->

                <!-- ARTICLE CONTENT : begin -->
                <div class="article-content various-content">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <!-- ARTICLE CONTENT : end -->

                <!-- ARTICLE FOOTER : begin -->
                <footer class="article-footer">
                  <ul class="article-info">
                    <li class="author">Josh Medeski</li>
                    <li class="categories">{{ post.categories }}</li>
                  </ul>
                  <p class="article-more"><a href="{{ post.url }}" class="c-button m-outline">Read More</a></p>
                </footer>
                <!-- ARTICLE FOOTER : end -->

              </div>
            </article>
            <!-- LINK ARTICLE : end -->
            {% endfor %}

          </div>
          <!-- BLOG LIST : end -->

          <!-- PAGINATION : begin -->
          <div class="c-pagination">
            <ul>
              <li class="pagination-prev"><a href="#" class="c-button m-outline"><i class="fa fa-chevron-left"></i></a></li>
              <li><a href="#" class="c-button m-outline">1</a></li>
              <li class="m-active"><a href="#" class="c-button m-outline">2</a></li>
              <li><a href="#" class="c-button m-outline">3</a></li>
              <li class="pagination-next"><a href="#" class="c-button m-outline"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
          <!-- PAGINATION : end -->

</div>
<!-- PAGE CONTENT : end -->

</div>
<div class="col-md-4">

  <!-- PAGE SIDEBAR : begin -->
  <aside id="page-sidebar">

    <!-- SIDEBAR SEARCH : begin -->
    <div class="widget search-widget">
      <h3 class="widget-title">Search</h3>
      <div class="widget-content">

        <form class="c-search-form" action="search-results.html">
          <div class="form-fields">
            <input type="text" data-placeholder="What to search...">
            <button class="c-button" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>

      </div>
    </div>
    <!-- SIDEBAR SEARCH : end -->

    {% include widget_categories.html %}

    {% include widget_blog.html %}

    <!-- SIDEBAR TAGS : begin -->
    <div class="widget tags-widget">
      <h3 class="widget-title">Popular Tags</h3>
      <div class="widget-content">
        <ul>
          <li><a href="#">Audio</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Photo</a></li>
          <li><a href="#">Portrait</a></li>
          <li><a href="#">Space</a></li>
          <li><a href="#">Stars</a></li>
        </ul>
      </div>
    </div>
    <!-- SIDEBAR TAGS : end -->

  </aside>
  <!-- PAGE SIDEBAR : end -->

</div>
</div>
</div>
