    <!-- MAIN SIDEBAR : begin -->
    <div id="main-sidebar">
      <div class="main-sidebar-inner">

        <!-- SIDEBAR CLOSE : begin -->
        <button class="sidebar-close" type="button"><i class="fa fa-times"></i></button>
        <!-- SIDEBAR CLOSE : end -->

        <!-- SIDEBAR SEARCH : begin -->
        <form class="sidebar-search" action="index.html">
          <input type="text" data-placeholder="Search for...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <!-- SIDEBAR SEARCH : end -->

        <!-- SIDEBAR MENU : begin -->
        <nav class="sidebar-menu m-header-menu-copy">
          <hr class="sidebar-divider">
        </nav>
        <!-- SIDEBAR MENU : end -->

        <!-- SIDEBAR SOCIAL : begin -->
        <ul class="sidebar-social">
          <li><a href="https://twitter.com/JoshMedeski"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/joshmedeski"><i class="fa fa-github-alt"></i></a></li>
          <li><a href="https://dribbble.com/JoshMedeski"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <!-- SIDEBAR SOCIAL : end -->

        <hr class="sidebar-divider">

        {% include widget_blog.html %}

        <!-- SIDEBAR WIDGETS : begin -->
        <div class="sidebar-widgets">

          <!-- DRIBBBLE WIDGET : begin -->
          <div class="widget dribbble-widget" data-id="JoshMedeski" data-limit="6">
            <h3 class="widget-title"><a href="https://dribbble.com/JoshMedeski">Dribbble Feed</a></h3>
            <div class="widget-content">

              <span class="c-loading-anim"><span></span></span>
              <div class="widget-feed"></div>

            </div>
          </div>
          <!-- DRIBBBLE WIDGET : end -->

          <!-- TEXT WIDGET : begin -->
          <div class="widget text-widget">
            <div class="widget-content">

              <div class="various-content">
                <p>This portfolio HTML template can be purchased on <a href="http://themeforest.net/user/LubosVolovar/portfolio?ref=LubosVolovar">ThemeForest.net</a>.</p>
              </div>

            </div>
          </div>
          <!-- TEXT WIDGET : end -->

        </div>
        <!-- SIDEBAR WIDGETS : end -->

      </div>
    </div>
    <!-- MAIN SIDEBAR : end -->
